.card {
  border: none;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .course__img {
    order: 0;
    margin-bottom: 2rem;
  }
  .course__text {
    order: 1;
  }
}
