@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  background-color: #191d32;
}

body {
  margin: 0;
  padding: 0;
  background-color: #191d32;
  font-family: "Poppins", sans-serif;
}
